* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- Fundo da página --- */
body {
    background-color: #417eaa;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    padding-bottom: 0; 
    padding-top: 140px; 
}

/* --- Header --- */
.cabecalho-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    flex-wrap: wrap;
    gap: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #22658f;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 1000;
}

/* --- Logo --- */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1001;
    flex-shrink: 0; 
}

/* --- Logo --- */
.logo-pequena {
    max-width: 110px;
    margin-bottom: 5px;
}

/* --- Nome Logo --- */
.nome-site-header {
    font-size: 12px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Barra de Busca */
.barra-busca {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 5px 0;
}

/* Barra de Digitando */
.barra-busca input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-weight: bold;
    color: #22658f;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 3px solid #0c3757;
}

/* Barra de Busca com PlaceHolder */
.barra-busca input::placeholder {
  color: #0c3757;
  opacity: 1; 
}

/* Ícones */
.icone-busca {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #0c3757;
}

/* Menu de Ícones */
.menu-icones {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-shrink: 0; 
}

/* Decoração dos Ícones */
.item-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-weight: bold;
    transition: opacity 0.2s;
}

/* Decoração dos Ícones com Hover */
.item-menu:hover {
    opacity: 0.8;
    color: #0c3757;
}

/* Tamanho dos Ícones */
.item-menu i {
    font-size: 20px;
    margin-bottom: 5px;
}

/* --- Container Principal joga os itens para a esquera --- */
.container-principal {
    width: 100%;
    max-width: 98%;
    margin: 0 auto;
    padding: 20px;
    flex: 1; 
}

/* --- Seção Descrição--- */
.descricao_site {
    text-align: center;
    padding: 40px 20px;
    color: white;
    background-color: #22658f;
    border-radius: 50px;
    width: 95%; 
    max-width: 1100px; 
    margin: 0 auto 40px auto; 
}

/* --- Seção Descrição(Título)--- */
.titulo_descricao {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 20px;
    text-shadow: 0 4px 10px rgba(0,0,0,0.2);
    word-wrap: break-word; 
    overflow-wrap: break-word;
    max-width: 100%;
}

/* --- Seção Descrição(Subtítulo)--- */
.subtitulo_descricao {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto 40px auto;
    line-height: 1.5;
    opacity: 0.9;
}

/* --- Seção Descrição(Subtítulo)--- */
.botao_descricao {
    display: inline-block;
    background-color: #0c3757;
    color: white;
    padding: 15px 40px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #0c3757;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background-color:#042946;
    transition: background 1.3s;
}

/* --- Listas / Carrosséis --- */
.categoria {
    margin-bottom: 50px;
}

/* ---  Título Carrosséis --- */
.titulo-categoria {
    display: inline-flex;
    align-items: center;
    background-color: #22658f;
    color: white;
    padding: 8px 25px;
    border-radius: 30px;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 15px;
}

/* ---  Título Carrosséis com Hover --- */
.titulo-categoria:hover {
    background-color: #042946;
}

/* ---  Setas dos Título dos Carrosséis --- */
.titulo-categoria i { 
    margin-left: 10px; 
}

/* --- ESTILOS DO CARROSSEL --- */

/* Container para centralizar o Carrossel */
.center {
  max-width: 98%; 
  margin: 0 auto;
  padding: 0 5px;
}

/* Setas Carrossel */
.carrossel {
  height: 250px;
  position: relative;
  margin-bottom: 50px;
}

/* Área onde os filmes correm */
.carrosselBox {
  height: 350px;
  width: 100%;
  
  /* Habilita o scroll nativo (essencial para o touch funcionar) */
  overflow-x: auto; 
  overflow-y: hidden;
  
  /* Configuração do Layout */
  white-space: nowrap;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  
  /* Esconde a barra de rolagem visualmente */
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  /* Efeito suave nos botões */
  scroll-behavior: smooth;

  /* Isso obriga a rolagem a parar sempre no início de uma imagem, não no meio */
  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch;

  /* Efeito de transparência */
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
          mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

/* Esconde botão de rolagem*/
.carrosselBox::-webkit-scrollbar {
  display: none;
}

/* Estilo das Imagens (Posters) */
.carrosselBox img {
  min-width: 147px;
  max-width: 147px;
  height: 210px;
  background-size: cover;
  background-color: #0c3757;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
  border-radius: 4px;
}

/* Estilo das Imagens (Posters) com hover */
.carrosselBox img:hover {
  transform: scale(1.1);
  z-index: 5;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
}

/* --- Botões de Navegação (Setas) --- */
.carrossel .switchLeft,
.carrossel .switchRight {
  background-color: #0c3757;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  user-select: none;
}

/* --- Botões de Navegação (Setas) --- */
.carrossel .switchLeft:hover,
.carrossel .switchRight:hover {
  background-color: #22658f;
  color: #0c3757;
  border-color: #042946;
  transform: translateY(-50%) scale(1.1);
}

/* Puxa um pouco para fora do alinhamento no botão esquerdo */
.carrossel .switchLeft {
  left: -25px;
}

/* Puxa um pouco para fora do alinhamento no botão direito */
.carrossel .switchRight {
  right: -25px; 
}

/* ---  Deixa os carrosséis na horizontal --- */
.carrosel-horizontal {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 15px;
    scrollbar-width: none;
}

/* ---  Retira a barra de rolagem do carrossel --- */
.carrosel-horizontal::-webkit-scrollbar { 
    display: none; 
}

/* ---  Define os locais dos pôsteres e estilo --- */
.item-poster {
    width: 160px;
    height: 240px;
    background-color: #0c3757;
    border-radius: 20px;
    flex-shrink: 0;
    transition: transform 0.2s;
    cursor: pointer;
}

/* ---  Pôsteres com hover --- */
.item-poster:hover {
    transform: scale(1.05);
    background-color:#042946;
    transition: background 1.3s;
}

/* --- Define bloco do Título Arquivo Confidencial --- */
.secao_arquivo_confidencial {
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* --- Título Arquivo Confidencial --- */
.titulo-pill {
    background-color: #0c3757;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: -20px;
    z-index: 2;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

/* --- Define bloco Arquivo Confidencial --- */
.cartao-destaque {
    background-color: #22658f;
    width: 100%;
    max-width: 70%; 
    margin: 0 auto;
    border-radius: 20px;
    padding: 50px 40px;
    color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
}

/* --- Joga o conteúdo do Arquivo Confidencial mais para o meio --- */
.conteudo-destaque {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
}

/* --- Cabeçalho Arquivo Confidencial --- */
.cabecalho_arquivo_confidencial {
    margin-bottom: 25px;
    text-align: center; 
}

/* --- Título da Obra Arquivo Confidencial --- */
.titulo-obra {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 5px;
}

/* --- Data de lançamento Arquivo Confidencial --- */
.data-lancamento {
    font-size: 14px;
    color: #0c3757; 
    font-weight: bold;
    text-transform: uppercase;
}

/* --- Texto Arquivo Confidencial --- */
.corpo-destaque {
    display: flex;
    gap: 30px;
    align-items: center; 
    text-align: left; 
}

/* --- Capa Filme Arquivo Confidencial --- */
.capa-filme-destaque {
    width: 160px;
    height: 240px;
    background-color: #0c3757;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #22658f;
}

/* --- Estiliza Texto Arquivo Confidencial --- */
.texto-curiosidade {
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
}

/* Remove estilos padrão do container para Filmes e Séries */
.poster-clean {
    background: transparent !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

/* Estilo da imagem para Filmes e Séries */
.poster-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Container de "Sem Imagem" para Filmes e Séries */
.poster-placeholder {
    width: 100%;
    height: 100%;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
}

/* --- ESTILOS ESPECÍFICOS PARA JOGOS --- */

/* Card do Jogo */
.game-card {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #4a90e2;
    border-radius: 15px;
    padding: 8px;
    min-width: 190px;
    margin-right: 15px;
    transition: transform 0.2s;
}

/* Container da Imagem do Jogo */
.game-img-container {
    width: 100%;
    height: 115px;
    overflow: hidden;
    border-radius: 10px;
}

/* Imagem do Jogo */
.game-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Placeholder "Sem Imagem" do Jogo */
.game-placeholder {
    width: 100%;
    height: 100%;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
}

/* Título do Jogo */
.game-title {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.3;
    font-weight: 600;
    font-family: 'Segoe UI', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* --- Footer --- */
.rodape-principal {
    width: 100%;
    background-color: #0c3757; 
    color: #d1d1d1; 
    text-align: center;
    padding: 40px 10px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: auto; 
    flex-shrink: 0;
}

/* --- RODAPÉ: LINKS E COPYRIGHT --- */

/* Garante que o rodapé organize os itens em coluna  */
.rodape-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding: 20px 0; 
}

.links-rodape {
    display: flex;
    align-items: center;
    gap: 10px;
}

.links-rodape a {
    color: #a0a0a0; 
    text-decoration: none;
    font-size: 0.85rem;
    font-family: 'Segoe UI', sans-serif;
    transition: color 0.3s;
}

.links-rodape a:hover {
    color: #ffffff; 
    text-decoration: underline;
}

.separador {
    color: #555; 
    font-size: 0.8rem;
}

.texto-copyright {
    font-size: 0.75rem;
    color: #999;
    margin-top: 10px;
}

/* --- MEDIA QUERIES --- */
@media (min-width: 1025px) {
    .barra-busca {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}

@media (max-width: 1024px) {
    .cabecalho-principal {
        justify-content: space-around; 
        padding: 15px;
    }
    
    .barra-busca {
        order: 3; 
        width: 100%;
        max-width: 80%;
        margin-top: 15px;
    }

    .menu-icones {
        width: auto;
        justify-content: center;
        margin-top: 20px;
    }

    body {
        padding-top: 200px;
    }
    
    .cartao-destaque {
        max-width: 90%;
    }
}

@media (max-width: 600px) {

    body {
        padding-top: 270px; 
    }

    .menu-icones {
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
    }

    .descricao_site {
        width: 92%;
        padding: 30px 15px;
        border-radius: 30px; 

    }

    .titulo_descricao {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .subtitulo_descricao {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .cartao-destaque {
        max-width: 95%;
        padding: 30px 20px;
        flex-direction: column;
    }

    .corpo-destaque {
        flex-direction: column; 
        text-align: center; 
    }
    
    .capa-filme-destaque {
        margin: 0 auto 20px auto;
    }
    
    .texto-curiosidade {
        font-size: 15px;
    }

    /*--- Carrossel Mobile ---*/
    .carrossel .switchLeft,
    .carrossel .switchRight {
        display: none; /* Remove setas no mobile */
    }

    .center {
        padding: 0;
    }
  
    .carrossel .switchLeft,
    .carrossel .switchRight {
        width: 45px; 
        height: 45px;
        font-size: 22px;
    }

    .carrossel .switchLeft {
        left: -25px; 
    }

    .carrossel .switchRight {
        right: -25px;
    }

    .carrossel .switchLeft,
    .carrossel .switchRight {
        display: none; 
    }

    .center {
        padding: 0; 
    }
    
    
    .carrosselBox {
        gap: 8px; 
    }

    .item-poster, .carrosselBox img {
        margin: 0;
    }
}  

@media (max-width: 768px) {
  .carrossel .switchLeft { left: -40; }
  .carrossel .switchRight { right: -40; }
}