<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login - Arquivo Nostalgia</title>
    <link rel="stylesheet" href="../../static/css/auth.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <div class="cartao-formulario">

        <img src="../../static/img/logo_arquivo_nostalgia.png" alt="Logotipo do Site" class="logo-form">
        <h2 class="titulo-nostalgia">Arquivo Nostalgia</h2>

        <form action="" method="POST">

            <div class="grupo-campo">
                <label class="label-visual" for="email">
                    <i class="fa-regular fa-envelope"></i> E-mail :
                </label>
                <input type="email" id="email" name="email" class="caixa-branca">
            </div>

            <div class="grupo-campo">
                <label class="label-visual" for="senha">
                    <i class="fa-solid fa-key"></i> Senha :
                </label>
                <input type="password" id="senha" name="senha" class="caixa-branca">
            </div>

            <button type="submit" class="botao-entrar">Entrar</button>

        </form>

        <div class="links-login">
            <a href="cadastro.html">Não tem conta? Cadastre aqui.</a>
            <a href="#">Esqueceu sua senha?</a>
        </div>

    </div>
</body>

</html>